SELECT log_mode FROM v$database;


SHUTDOWN IMMEDIATE;
HOST SLEEP 5;
STARTUP MOUNT;
HOST SLEEP 5;
ALTER DATABASE ARCHIVELOG;
HOST SLEEP 5;
ALTER DATABASE OPEN;

HOST SLEEP 5;
SELECT log_mode FROM v$database;



ALTER DATABASE FORCE LOGGING;

SELECT GROUP#, BYTES/1024/1024 MB FROM V$LOG;
SELECT THREAD#, INSTANCE FROM V$THREAD;

ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 10 ('{{ redo_log_filepath }}/{{ sid }}/standby_redo01.log') SIZE 50M;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 11 ('{{ redo_log_filepath }}/{{ sid }}/standby_redo02.log') SIZE 50M;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 12 ('{{ redo_log_filepath }}/{{ sid }}/standby_redo03.log') SIZE 50M;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 13 ('{{ redo_log_filepath }}/{{ sid }}/standby_redo04.log') SIZE 50M;
SELECT GROUP#,THREAD#,SEQUENCE#,ARCHIVED,STATUS FROM V$STANDBY_LOG;
alter system set LOG_ARCHIVE_CONFIG='DG_CONFIG=({{ sid }},{{ sid }}DG1)';
alter system set LOG_ARCHIVE_DEST_2='SERVICE={{ sid }}DG1 LGWR ASYNC VALID_FOR=(ONLINE_LOGFILES,PRIMARY_ROLE) DB_UNIQUE_NAME={{ sid }}DG1';
alter system set LOG_ARCHIVE_DEST_STATE_2=ENABLE;
alter system set FAL_SERVER={{ sid }}DG1;
alter system set DB_FILE_NAME_CONVERT='{{ redo_log_filepath }}/{{ sid }}DG1/','{{ redo_log_filepath }}/{{ sid }}/' scope=spfile; 
alter system set LOG_FILE_NAME_CONVERT='{{ redo_log_filepath }}/{{ sid }}DG1/','{{ redo_log_filepath }}/{{ sid }}/' scope=spfile;
ALTER SYSTEM SET LOG_ARCHIVE_DEST_1='LOCATION=USE_DB_RECOVERY_FILE_DEST VALID_FOR=(ALL_LOGFILES,ALL_ROLES) DB_UNIQUE_NAME={{ sid }}' scope=both;
ALTER SYSTEM SET STANDBY_FILE_MANAGEMENT=AUTO;
