openapi: 3.0.1
info:
  title: Universal-LLM-API
  description: "The OpenAI REST API. Please see\nhttps://platform.openai.com/docs/api-reference for more details."
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
  version: '1.0'
servers:
  - url: https://apim-7c3dvrbie5sui.azure-api.net
paths:
  /assistants:
    get:
      tags:
        - Assistants
      summary: Returns a list of assistants.
      description: Returns a list of assistants.
      operationId: listAssistants
      parameters:
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: before
          in: query
          description: "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n"
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssistantsResponse'
              example:
                object: list
                data:
                  - id: string
                    object: assistant
                    created_at: 0
                    name: string
                    description: string
                    model: string
                    instructions: string
                    tools:
                      - type: code_interpreter
                    tool_resources:
                      code_interpreter:
                        file_ids:
                          - string
                      file_search:
                        vector_store_ids:
                          - string
                    metadata: { }
                    temperature: 1
                    top_p: 1
                    response_format: { }
                first_id: asst_abc123
                last_id: asst_abc456
                has_more: false
    post:
      tags:
        - Assistants
      summary: Create an assistant with a model and instructions.
      description: Create an assistant with a model and instructions.
      operationId: createAssistant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantRequest'
            example:
              model: gpt-4o
              name: string
              description: string
              instructions: string
              reasoning_effort: medium
              tools:
                - type: code_interpreter
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
                  vector_stores:
                    - file_ids:
                        - string
                      chunking_strategy:
                        type: auto
                      metadata: { }
              metadata: { }
              temperature: 1
              top_p: 1
              response_format: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantObject'
              example:
                id: string
                object: assistant
                created_at: 0
                name: string
                description: string
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
                temperature: 1
                top_p: 1
                response_format: { }
  '/assistants/{assistant_id}':
    get:
      tags:
        - Assistants
      summary: Retrieves an assistant.
      description: Retrieves an assistant.
      operationId: getAssistant
      parameters:
        - name: assistant_id
          in: path
          description: The ID of the assistant to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantObject'
              example:
                id: string
                object: assistant
                created_at: 0
                name: string
                description: string
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
                temperature: 1
                top_p: 1
                response_format: { }
    post:
      tags:
        - Assistants
      summary: Modifies an assistant.
      description: Modifies an assistant.
      operationId: modifyAssistant
      parameters:
        - name: assistant_id
          in: path
          description: The ID of the assistant to modify.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyAssistantRequest'
            example:
              model: { }
              reasoning_effort: medium
              name: string
              description: string
              instructions: string
              tools:
                - type: code_interpreter
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
              metadata: { }
              temperature: 1
              top_p: 1
              response_format: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantObject'
              example:
                id: string
                object: assistant
                created_at: 0
                name: string
                description: string
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
                temperature: 1
                top_p: 1
                response_format: { }
    delete:
      tags:
        - Assistants
      summary: Delete an assistant.
      description: Delete an assistant.
      operationId: deleteAssistant
      parameters:
        - name: assistant_id
          in: path
          description: The ID of the assistant to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAssistantResponse'
              example:
                id: string
                deleted: true
                object: assistant.deleted
  /audio/speech:
    post:
      tags:
        - Audio
      summary: Generates audio from the input text.
      description: Generates audio from the input text.
      operationId: createSpeech
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeechRequest'
            example:
              model: { }
              input: string
              instructions: string
              voice: ash
              response_format: mp3
              speed: 1
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              description: chunked
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
  /audio/transcriptions:
    post:
      tags:
        - Audio
      summary: Transcribes audio into the input language.
      description: Transcribes audio into the input language.
      operationId: createTranscription
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - model
              properties:
                file:
                  type: string
                  description: "The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n"
                  format: binary
                model:
                  type: string
                  description: "ID of the model to use. The options are `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, and `whisper-1` (which is powered by our open source Whisper V2 model).\n"
                language:
                  type: string
                  description: "The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format will improve accuracy and latency.\n"
                prompt:
                  type: string
                  description: "An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should match the audio language.\n"
                response_format:
                  $ref: '#/components/schemas/AudioResponseFormat'
                temperature:
                  type: number
                  description: "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n"
                  default: 0
                'include[]':
                  type: array
                  description: "Additional information to include in the transcription response.\n`logprobs` will return the log probabilities of the tokens in the\nresponse to understand the model's confidence in the transcription.\n`logprobs` only works with response_format set to `json` and only with\nthe models `gpt-4o-transcribe` and `gpt-4o-mini-transcribe`.\n"
                'timestamp_granularities[]':
                  type: array
                  description: "The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.\n"
                  default: "[\n  \"segment\"\n]"
                stream:
                  type: boolean
                  description: "If set to true, the model response data will be streamed to the client\nas it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format). \nSee the [Streaming section of the Speech-to-Text guide](/docs/guides/speech-to-text?lang=curl#streaming-transcriptions)\nfor more information.\n\nNote: Streaming is not supported for the `whisper-1` model and will be ignored.\n"
                  default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CreateTranscriptionResponseJson'
                  - $ref: '#/components/schemas/CreateTranscriptionResponseVerboseJson'
              example:
                text: string
                logprobs:
                  - token: string
                    logprob: 0
                    bytes:
                      - 0
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponseStreamEvent'
              examples:
                default:
                  value: 
  /audio/translations:
    post:
      tags:
        - Audio
      summary: Translates audio into English.
      description: Translates audio into English.
      operationId: createTranslation
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - model
              properties:
                file:
                  type: string
                  description: "The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n"
                  format: binary
                model:
                  type: string
                  description: "ID of the model to use. Only `whisper-1` (which is powered by our open source Whisper V2 model) is currently available.\n"
                prompt:
                  type: string
                  description: "An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should be in English.\n"
                response_format:
                  enum:
                    - json
                    - text
                    - srt
                    - verbose_json
                    - vtt
                  type: string
                  description: "The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, or `vtt`.\n"
                  default: json
                temperature:
                  type: number
                  description: "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n"
                  default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CreateTranslationResponseJson'
                  - $ref: '#/components/schemas/CreateTranslationResponseVerboseJson'
              example:
                text: string
  /batches:
    post:
      tags:
        - Batch
      summary: Creates and executes a batch from an uploaded file of requests
      description: Creates and executes a batch from an uploaded file of requests
      operationId: createBatch
      requestBody:
        content:
          application/json:
            schema:
              required:
                - input_file_id
                - endpoint
                - completion_window
              type: object
              properties:
                input_file_id:
                  type: string
                  description: "The ID of an uploaded file that contains requests for the new batch.\n\nSee [upload file](/docs/api-reference/files/create) for how to upload a file.\n\nYour input file must be formatted as a [JSONL file](/docs/api-reference/batch/request-input), and must be uploaded with the purpose `batch`. The file can contain up to 50,000 requests, and can be up to 200 MB in size.\n"
                endpoint:
                  enum:
                    - /v1/responses
                    - /v1/chat/completions
                    - /v1/embeddings
                    - /v1/completions
                  type: string
                  description: "The endpoint to be used for all requests in the batch. Currently\n`/v1/responses`, `/v1/chat/completions`, `/v1/embeddings`,\nand `/v1/completions` are supported. Note that\n`/v1/embeddings` batches are also restricted to a maximum of\n50,000 embedding inputs across all requests in the batch."
                completion_window:
                  enum:
                    - 24h
                  type: string
                  description: "The time frame within which the batch should be processed.\nCurrently only `24h` is supported."
                metadata:
                  $ref: '#/components/schemas/Metadata'
            example:
              input_file_id: string
              endpoint: /v1/responses
              completion_window: 24h
              metadata: { }
      responses:
        '200':
          description: Batch created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              example:
                id: string
                object: batch
                endpoint: string
                errors:
                  object: string
                  data:
                    - code: string
                      message: string
                      param: string
                      line: 0
                input_file_id: string
                completion_window: string
                status: validating
                output_file_id: string
                error_file_id: string
                created_at: 0
                in_progress_at: 0
                expires_at: 0
                finalizing_at: 0
                completed_at: 0
                failed_at: 0
                expired_at: 0
                cancelling_at: 0
                cancelled_at: 0
                request_counts:
                  total: 0
                  completed: 0
                  failed: 0
                metadata: { }
    get:
      tags:
        - Batch
      summary: List your organization's batches.
      description: List your organization's batches.
      operationId: listBatches
      parameters:
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Batch listed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
              example:
                data:
                  - id: string
                    object: batch
                    endpoint: string
                    errors:
                      object: string
                      data:
                        - code: string
                          message: string
                          param: string
                          line: 0
                    input_file_id: string
                    completion_window: string
                    status: validating
                    output_file_id: string
                    error_file_id: string
                    created_at: 0
                    in_progress_at: 0
                    expires_at: 0
                    finalizing_at: 0
                    completed_at: 0
                    failed_at: 0
                    expired_at: 0
                    cancelling_at: 0
                    cancelled_at: 0
                    request_counts:
                      total: 0
                      completed: 0
                      failed: 0
                    metadata: { }
                first_id: batch_abc123
                last_id: batch_abc456
                has_more: true
                object: list
  '/batches/{batch_id}':
    get:
      tags:
        - Batch
      summary: Retrieves a batch.
      description: Retrieves a batch.
      operationId: retrieveBatch
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              example:
                id: string
                object: batch
                endpoint: string
                errors:
                  object: string
                  data:
                    - code: string
                      message: string
                      param: string
                      line: 0
                input_file_id: string
                completion_window: string
                status: validating
                output_file_id: string
                error_file_id: string
                created_at: 0
                in_progress_at: 0
                expires_at: 0
                finalizing_at: 0
                completed_at: 0
                failed_at: 0
                expired_at: 0
                cancelling_at: 0
                cancelled_at: 0
                request_counts:
                  total: 0
                  completed: 0
                  failed: 0
                metadata: { }
  '/batches/{batch_id}/cancel':
    post:
      tags:
        - Batch
      summary: Cancels an in-progress batch.
      description: "Cancels an in-progress batch. The batch will be in status `cancelling`\nfor up to 10 minutes, before changing to `cancelled`, where it will have\npartial results (if any) available in the output file."
      operationId: cancelBatch
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to cancel.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch is cancelling. Returns the cancelling batch's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
              example:
                id: string
                object: batch
                endpoint: string
                errors:
                  object: string
                  data:
                    - code: string
                      message: string
                      param: string
                      line: 0
                input_file_id: string
                completion_window: string
                status: validating
                output_file_id: string
                error_file_id: string
                created_at: 0
                in_progress_at: 0
                expires_at: 0
                finalizing_at: 0
                completed_at: 0
                failed_at: 0
                expired_at: 0
                cancelling_at: 0
                cancelled_at: 0
                request_counts:
                  total: 0
                  completed: 0
                  failed: 0
                metadata: { }
  /chat/completions:
    get:
      tags:
        - Chat
      summary: List stored Chat Completions.
      description: "List stored Chat Completions. Only Chat Completions that have been stored\nwith the `store` parameter set to `true` will be returned.\n"
      operationId: listChatCompletions
      parameters:
        - name: model
          in: query
          description: The model used to generate the Chat Completions.
          schema:
            type: string
        - name: metadata
          in: query
          description: "A list of metadata keys to filter the Chat Completions by. Example:\n\n`metadata[key1]=value1&metadata[key2]=value2`\n"
          schema:
            $ref: '#/components/schemas/Metadata'
        - name: after
          in: query
          description: "Identifier for the last chat completion from the previous\npagination request."
          schema:
            type: string
        - name: limit
          in: query
          description: Number of Chat Completions to retrieve.
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order for Chat Completions by timestamp. Use `asc` for\nascending order or `desc` for descending order. Defaults to `asc`."
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
      responses:
        '200':
          description: A list of Chat Completions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionList'
              example:
                object: list
                data:
                  - id: string
                    choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: string
                          refusal: string
                          tool_calls:
                            - id: string
                              type: function
                              function:
                                name: string
                                arguments: string
                          annotations:
                            - type: url_citation
                              url_citation:
                                end_index: 0
                                start_index: 0
                                url: string
                                title: string
                          role: assistant
                          function_call:
                            arguments: string
                            name: string
                          audio:
                            id: string
                            expires_at: 0
                            data: string
                            transcript: string
                        logprobs:
                          content:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                              top_logprobs:
                                - token: string
                                  logprob: 0
                                  bytes:
                                    - 0
                          refusal:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                              top_logprobs:
                                - token: string
                                  logprob: 0
                                  bytes:
                                    - 0
                    created: 0
                    model: string
                    service_tier: auto
                    system_fingerprint: string
                    object: chat.completion
                    usage:
                      completion_tokens: 0
                      prompt_tokens: 0
                      total_tokens: 0
                      completion_tokens_details:
                        accepted_prediction_tokens: 0
                        audio_tokens: 0
                        reasoning_tokens: 0
                        rejected_prediction_tokens: 0
                      prompt_tokens_details:
                        audio_tokens: 0
                        cached_tokens: 0
                first_id: string
                last_id: string
                has_more: true
    post:
      tags:
        - Chat
      summary: Creates a model response for the given chat conversation.
      description: "Creates a model response for the given chat conversation. Learn more in the\n[text generation](/docs/guides/text-generation), [vision](/docs/guides/vision),\nand [audio](/docs/guides/audio) guides.\n\nParameter support can differ depending on the model used to generate the\nresponse, particularly for newer reasoning models. Parameters that are only\nsupported for reasoning models are noted below. For the current state of \nunsupported parameters in reasoning models, \n[refer to the reasoning guide](/docs/guides/reasoning).\n"
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
            example:
              model: gpt-4o
              messages:
                - role: system
                  content: You are a helpful assistant
                - role: user
                  content: How are you?
              max_tokens: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
              example:
                id: string
                choices:
                  - finish_reason: stop
                    index: 0
                    message:
                      content: string
                      refusal: string
                      tool_calls:
                        - id: string
                          type: function
                          function:
                            name: string
                            arguments: string
                      annotations:
                        - type: url_citation
                          url_citation:
                            end_index: 0
                            start_index: 0
                            url: string
                            title: string
                      role: assistant
                      function_call:
                        arguments: string
                        name: string
                      audio:
                        id: string
                        expires_at: 0
                        data: string
                        transcript: string
                    logprobs:
                      content:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                      refusal:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                created: 0
                model: string
                service_tier: auto
                system_fingerprint: string
                object: chat.completion
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                  completion_tokens_details:
                    accepted_prediction_tokens: 0
                    audio_tokens: 0
                    reasoning_tokens: 0
                    rejected_prediction_tokens: 0
                  prompt_tokens_details:
                    audio_tokens: 0
                    cached_tokens: 0
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionStreamResponse'
              examples:
                default:
                  value: 
  '/chat/completions/{completion_id}':
    get:
      tags:
        - Chat
      summary: Get a stored chat completion.
      description: "Get a stored chat completion. Only Chat Completions that have been created\nwith the `store` parameter set to `true` will be returned.\n"
      operationId: getChatCompletion
      parameters:
        - name: completion_id
          in: path
          description: The ID of the chat completion to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A chat completion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
              example:
                id: string
                choices:
                  - finish_reason: stop
                    index: 0
                    message:
                      content: string
                      refusal: string
                      tool_calls:
                        - id: string
                          type: function
                          function:
                            name: string
                            arguments: string
                      annotations:
                        - type: url_citation
                          url_citation:
                            end_index: 0
                            start_index: 0
                            url: string
                            title: string
                      role: assistant
                      function_call:
                        arguments: string
                        name: string
                      audio:
                        id: string
                        expires_at: 0
                        data: string
                        transcript: string
                    logprobs:
                      content:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                      refusal:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                created: 0
                model: string
                service_tier: auto
                system_fingerprint: string
                object: chat.completion
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                  completion_tokens_details:
                    accepted_prediction_tokens: 0
                    audio_tokens: 0
                    reasoning_tokens: 0
                    rejected_prediction_tokens: 0
                  prompt_tokens_details:
                    audio_tokens: 0
                    cached_tokens: 0
    post:
      tags:
        - Chat
      summary: Modify a stored chat completion.
      description: "Modify a stored chat completion. Only Chat Completions that have been\ncreated with the `store` parameter set to `true` can be modified. Currently,\nthe only supported modification is to update the `metadata` field.\n"
      operationId: updateChatCompletion
      parameters:
        - name: completion_id
          in: path
          description: The ID of the chat completion to update.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - metadata
              type: object
              properties:
                metadata:
                  $ref: '#/components/schemas/Metadata'
            example:
              metadata: { }
      responses:
        '200':
          description: A chat completion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
              example:
                id: string
                choices:
                  - finish_reason: stop
                    index: 0
                    message:
                      content: string
                      refusal: string
                      tool_calls:
                        - id: string
                          type: function
                          function:
                            name: string
                            arguments: string
                      annotations:
                        - type: url_citation
                          url_citation:
                            end_index: 0
                            start_index: 0
                            url: string
                            title: string
                      role: assistant
                      function_call:
                        arguments: string
                        name: string
                      audio:
                        id: string
                        expires_at: 0
                        data: string
                        transcript: string
                    logprobs:
                      content:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                      refusal:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                created: 0
                model: string
                service_tier: auto
                system_fingerprint: string
                object: chat.completion
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                  completion_tokens_details:
                    accepted_prediction_tokens: 0
                    audio_tokens: 0
                    reasoning_tokens: 0
                    rejected_prediction_tokens: 0
                  prompt_tokens_details:
                    audio_tokens: 0
                    cached_tokens: 0
    delete:
      tags:
        - Chat
      summary: Delete a stored chat completion.
      description: "Delete a stored chat completion. Only Chat Completions that have been\ncreated with the `store` parameter set to `true` can be deleted.\n"
      operationId: deleteChatCompletion
      parameters:
        - name: completion_id
          in: path
          description: The ID of the chat completion to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The chat completion was deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionDeleted'
              example:
                object: chat.completion.deleted
                id: string
                deleted: true
  '/chat/completions/{completion_id}/messages':
    get:
      tags:
        - Chat
      summary: Get the messages in a stored chat completion.
      description: "Get the messages in a stored chat completion. Only Chat Completions that\nhave been created with the `store` parameter set to `true` will be\nreturned.\n"
      operationId: getChatCompletionMessages
      parameters:
        - name: completion_id
          in: path
          description: The ID of the chat completion to retrieve messages from.
          required: true
          schema:
            type: string
        - name: after
          in: query
          description: Identifier for the last message from the previous pagination request.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of messages to retrieve.
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order for messages by timestamp. Use `asc` for ascending order\nor `desc` for descending order. Defaults to `asc`."
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
      responses:
        '200':
          description: A list of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionMessageList'
              example:
                object: list
                data:
                  - content: string
                    refusal: string
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                    annotations:
                      - type: url_citation
                        url_citation:
                          end_index: 0
                          start_index: 0
                          url: string
                          title: string
                    role: assistant
                    function_call:
                      arguments: string
                      name: string
                    audio:
                      id: string
                      expires_at: 0
                      data: string
                      transcript: string
                    id: string
                first_id: string
                last_id: string
                has_more: true
  /completions:
    post:
      tags:
        - Completions
      summary: Creates a completion for the provided prompt and parameters.
      description: Creates a completion for the provided prompt and parameters.
      operationId: createCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
            example:
              model: gpt-3.5-turbo-instruct
              prompt: Say this is a test
              max_tokens: 7
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompletionResponse'
              example:
                id: string
                choices:
                  - finish_reason: stop
                    index: 0
                    logprobs:
                      text_offset:
                        - 0
                      token_logprobs:
                        - 0
                      tokens:
                        - string
                      top_logprobs:
                        - { }
                    text: string
                created: 0
                model: string
                system_fingerprint: string
                object: text_completion
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                  completion_tokens_details:
                    accepted_prediction_tokens: 0
                    audio_tokens: 0
                    reasoning_tokens: 0
                    rejected_prediction_tokens: 0
                  prompt_tokens_details:
                    audio_tokens: 0
                    cached_tokens: 0
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Creates an embedding vector representing the input text.
      description: Creates an embedding vector representing the input text.
      operationId: createEmbedding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
            example:
              model: text-embedding-ada-002
              input: How are you?
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
              example:
                data:
                  - index: 0
                    embedding:
                      - 0
                    object: embedding
                model: string
                object: list
                usage:
                  prompt_tokens: 0
                  total_tokens: 0
  /evals:
    get:
      tags:
        - Evals
      summary: List evaluations for a project.
      description: "List evaluations for a project.\n"
      operationId: listEvals
      parameters:
        - name: after
          in: query
          description: Identifier for the last eval from the previous pagination request.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of evals to retrieve.
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order for evals by timestamp. Use `asc` for ascending order or\n`desc` for descending order."
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
        - name: order_by
          in: query
          description: "Evals can be ordered by creation time or last updated time. Use\n`created_at` for creation time or `updated_at` for last updated time.\n"
          schema:
            enum:
              - created_at
              - updated_at
            type: string
            default: created_at
      responses:
        '200':
          description: A list of evals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalList'
              example:
                object: list
                data:
                  - object: eval
                    id: string
                    name: Chatbot effectiveness Evaluation
                    data_source_config:
                      type: custom
                      schema: "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"label\": {\"type\": \"string\"},\n      },\n      \"required\": [\"label\"]\n    }\n  },\n  \"required\": [\"item\"]\n}\n"
                    testing_criteria: eval
                    created_at: 0
                    metadata: { }
                first_id: string
                last_id: string
                has_more: true
    post:
      tags:
        - Evals
      summary: Create the structure of an evaluation that can be used to test a model's performance.
      description: "Create the structure of an evaluation that can be used to test a model's performance.\nAn evaluation is a set of testing criteria and a datasource. After creating an evaluation, you can run it on different models and model parameters. We support several types of graders and datasources.\nFor more information, see the [Evals guide](/docs/guides/evals).\n"
      operationId: createEval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEvalRequest'
            example:
              name: string
              metadata: { }
              data_source_config:
                type: custom
                item_schema: "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\"type\": \"string\"},\n    \"age\": {\"type\": \"integer\"}\n  },\n  \"required\": [\"name\", \"age\"]\n}\n"
                include_sample_schema: false
              testing_criteria:
                - type: label_model
                  name: string
                  model: string
                  input:
                    - role: string
                      content: string
                  labels:
                    - string
                  passing_labels:
                    - string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Eval'
              example:
                object: eval
                id: string
                name: Chatbot effectiveness Evaluation
                data_source_config:
                  type: custom
                  schema: "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"label\": {\"type\": \"string\"},\n      },\n      \"required\": [\"label\"]\n    }\n  },\n  \"required\": [\"item\"]\n}\n"
                testing_criteria: eval
                created_at: 0
                metadata: { }
  '/evals/{eval_id}':
    get:
      tags:
        - Evals
      summary: Get an evaluation by ID.
      description: "Get an evaluation by ID.\n"
      operationId: getEval
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The evaluation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Eval'
              example:
                object: eval
                id: string
                name: Chatbot effectiveness Evaluation
                data_source_config:
                  type: custom
                  schema: "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"label\": {\"type\": \"string\"},\n      },\n      \"required\": [\"label\"]\n    }\n  },\n  \"required\": [\"item\"]\n}\n"
                testing_criteria: eval
                created_at: 0
                metadata: { }
    post:
      tags:
        - Evals
      summary: Update certain properties of an evaluation.
      description: "Update certain properties of an evaluation.\n"
      operationId: updateEval
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to update.
          required: true
          schema:
            type: string
      requestBody:
        description: Request to update an evaluation
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Rename the evaluation.
                metadata:
                  $ref: '#/components/schemas/Metadata'
            example:
              name: string
              metadata: { }
      responses:
        '200':
          description: The updated evaluation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Eval'
              example:
                object: eval
                id: string
                name: Chatbot effectiveness Evaluation
                data_source_config:
                  type: custom
                  schema: "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"item\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"label\": {\"type\": \"string\"},\n      },\n      \"required\": [\"label\"]\n    }\n  },\n  \"required\": [\"item\"]\n}\n"
                testing_criteria: eval
                created_at: 0
                metadata: { }
    delete:
      tags:
        - Evals
      summary: Delete an evaluation.
      description: "Delete an evaluation.\n"
      operationId: deleteEval
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted the evaluation.
          content:
            application/json:
              schema:
                required:
                  - object
                  - deleted
                  - eval_id
                type: object
                properties:
                  object:
                    type: string
                    example: eval.deleted
                  deleted:
                    type: boolean
                    example: true
                  eval_id:
                    type: string
                    example: eval_abc123
              example:
                object: eval.deleted
                deleted: true
                eval_id: eval_abc123
        '404':
          description: Evaluation not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: string
                message: string
                param: string
                type: string
  '/evals/{eval_id}/runs':
    get:
      tags:
        - Evals
      summary: Get a list of runs for an evaluation.
      description: "Get a list of runs for an evaluation.\n"
      operationId: getEvalRuns
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to retrieve runs for.
          required: true
          schema:
            type: string
        - name: after
          in: query
          description: Identifier for the last run from the previous pagination request.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of runs to retrieve.
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order for runs by timestamp. Use `asc` for ascending order or\n`desc` for descending order. Defaults to `asc`."
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
        - name: status
          in: query
          description: "Filter runs by status. One of `queued` | `in_progress` | `failed` |\n`completed` | `canceled`."
          schema:
            enum:
              - queued
              - in_progress
              - completed
              - canceled
              - failed
            type: string
      responses:
        '200':
          description: A list of runs for the evaluation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalRunList'
              example:
                object: list
                data:
                  - object: eval.run
                    id: string
                    eval_id: string
                    status: string
                    model: string
                    name: string
                    created_at: 0
                    report_url: string
                    result_counts:
                      total: 0
                      errored: 0
                      failed: 0
                      passed: 0
                    per_model_usage:
                      - model_name: string
                        invocation_count: 0
                        prompt_tokens: 0
                        completion_tokens: 0
                        total_tokens: 0
                        cached_tokens: 0
                    per_testing_criteria_results:
                      - testing_criteria: string
                        passed: 0
                        failed: 0
                    data_source:
                      type: jsonl
                      source:
                        type: file_content
                        content:
                          - item: { }
                            sample: { }
                    metadata: { }
                    error:
                      code: string
                      message: string
                first_id: string
                last_id: string
                has_more: true
    post:
      tags:
        - Evals
      summary: Create a new evaluation run.
      description: "Create a new evaluation run. This is the endpoint that will kick off grading.\n"
      operationId: createEvalRun
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to create a run for.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEvalRunRequest'
            example:
              name: string
              metadata: { }
              data_source:
                type: jsonl
                source:
                  type: file_content
                  content:
                    - item: { }
                      sample: { }
      responses:
        '201':
          description: Successfully created a run for the evaluation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalRun'
              example:
                object: eval.run
                id: string
                eval_id: string
                status: string
                model: string
                name: string
                created_at: 0
                report_url: string
                result_counts:
                  total: 0
                  errored: 0
                  failed: 0
                  passed: 0
                per_model_usage:
                  - model_name: string
                    invocation_count: 0
                    prompt_tokens: 0
                    completion_tokens: 0
                    total_tokens: 0
                    cached_tokens: 0
                per_testing_criteria_results:
                  - testing_criteria: string
                    passed: 0
                    failed: 0
                data_source:
                  type: jsonl
                  source:
                    type: file_content
                    content:
                      - item: { }
                        sample: { }
                metadata: { }
                error:
                  code: string
                  message: string
        '400':
          description: 'Bad request (for example, missing eval object)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: string
                message: string
                param: string
                type: string
  '/evals/{eval_id}/runs/{run_id}':
    get:
      tags:
        - Evals
      summary: Get an evaluation run by ID.
      description: "Get an evaluation run by ID.\n"
      operationId: getEvalRun
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to retrieve runs for.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The evaluation run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalRun'
              example:
                object: eval.run
                id: string
                eval_id: string
                status: string
                model: string
                name: string
                created_at: 0
                report_url: string
                result_counts:
                  total: 0
                  errored: 0
                  failed: 0
                  passed: 0
                per_model_usage:
                  - model_name: string
                    invocation_count: 0
                    prompt_tokens: 0
                    completion_tokens: 0
                    total_tokens: 0
                    cached_tokens: 0
                per_testing_criteria_results:
                  - testing_criteria: string
                    passed: 0
                    failed: 0
                data_source:
                  type: jsonl
                  source:
                    type: file_content
                    content:
                      - item: { }
                        sample: { }
                metadata: { }
                error:
                  code: string
                  message: string
    post:
      tags:
        - Evals
      summary: Cancel an ongoing evaluation run.
      description: "Cancel an ongoing evaluation run.\n"
      operationId: cancelEvalRun
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation whose run you want to cancel.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to cancel.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The canceled eval run object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalRun'
              example:
                object: eval.run
                id: string
                eval_id: string
                status: string
                model: string
                name: string
                created_at: 0
                report_url: string
                result_counts:
                  total: 0
                  errored: 0
                  failed: 0
                  passed: 0
                per_model_usage:
                  - model_name: string
                    invocation_count: 0
                    prompt_tokens: 0
                    completion_tokens: 0
                    total_tokens: 0
                    cached_tokens: 0
                per_testing_criteria_results:
                  - testing_criteria: string
                    passed: 0
                    failed: 0
                data_source:
                  type: jsonl
                  source:
                    type: file_content
                    content:
                      - item: { }
                        sample: { }
                metadata: { }
                error:
                  code: string
                  message: string
    delete:
      tags:
        - Evals
      summary: Delete an eval run.
      description: "Delete an eval run.\n"
      operationId: deleteEvalRun
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to delete the run from.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted the eval run
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: eval.run.deleted
                  deleted:
                    type: boolean
                    example: true
                  run_id:
                    type: string
                    example: evalrun_677469f564d48190807532a852da3afb
              example:
                object: eval.run.deleted
                deleted: true
                run_id: evalrun_677469f564d48190807532a852da3afb
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: string
                message: string
                param: string
                type: string
  '/evals/{eval_id}/runs/{run_id}/output_items':
    get:
      tags:
        - Evals
      summary: Get a list of output items for an evaluation run.
      description: "Get a list of output items for an evaluation run.\n"
      operationId: getEvalRunOutputItems
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to retrieve runs for.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to retrieve output items for.
          required: true
          schema:
            type: string
        - name: after
          in: query
          description: "Identifier for the last output item from the previous pagination\nrequest."
          schema:
            type: string
        - name: limit
          in: query
          description: Number of output items to retrieve.
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          description: "Filter output items by status. Use `failed` to filter by failed output\nitems or `pass` to filter by passed output items.\n"
          schema:
            enum:
              - fail
              - pass
            type: string
        - name: order
          in: query
          description: "Sort order for output items by timestamp. Use `asc` for ascending\norder or `desc` for descending order. Defaults to `asc`."
          schema:
            enum:
              - asc
              - desc
            type: string
            default: asc
      responses:
        '200':
          description: A list of output items for the evaluation run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalRunOutputItemList'
              example:
                object: list
                data:
                  - object: eval.run.output_item
                    id: string
                    run_id: string
                    eval_id: string
                    created_at: 0
                    status: string
                    datasource_item_id: 0
                    datasource_item: { }
                    results:
                      - { }
                    sample:
                      input:
                        - role: string
                          content: string
                      output:
                        - role: string
                          content: string
                      finish_reason: string
                      model: string
                      usage:
                        total_tokens: 0
                        completion_tokens: 0
                        prompt_tokens: 0
                        cached_tokens: 0
                      error:
                        code: string
                        message: string
                      temperature: 0
                      max_completion_tokens: 0
                      top_p: 0
                      seed: 0
                first_id: string
                last_id: string
                has_more: true
  '/evals/{eval_id}/runs/{run_id}/output_items/{output_item_id}':
    get:
      tags:
        - Evals
      summary: Get an evaluation run output item by ID.
      description: "Get an evaluation run output item by ID.\n"
      operationId: getEvalRunOutputItem
      parameters:
        - name: eval_id
          in: path
          description: The ID of the evaluation to retrieve runs for.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to retrieve.
          required: true
          schema:
            type: string
        - name: output_item_id
          in: path
          description: The ID of the output item to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The evaluation run output item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvalRunOutputItem'
              example:
                object: eval.run.output_item
                id: string
                run_id: string
                eval_id: string
                created_at: 0
                status: string
                datasource_item_id: 0
                datasource_item: { }
                results:
                  - { }
                sample:
                  input:
                    - role: string
                      content: string
                  output:
                    - role: string
                      content: string
                  finish_reason: string
                  model: string
                  usage:
                    total_tokens: 0
                    completion_tokens: 0
                    prompt_tokens: 0
                    cached_tokens: 0
                  error:
                    code: string
                    message: string
                  temperature: 0
                  max_completion_tokens: 0
                  top_p: 0
                  seed: 0
  /files:
    get:
      tags:
        - Files
      summary: Returns a list of files.
      description: Returns a list of files.
      operationId: listFiles
      parameters:
        - name: purpose
          in: query
          description: Only return files with the given purpose.
          schema:
            type: string
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 10,000, and the default is 10,000.\n"
          schema:
            type: integer
            default: 10000
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
              example:
                object: list
                data:
                  - id: string
                    bytes: 0
                    created_at: 0
                    expires_at: 0
                    filename: string
                    object: file
                    purpose: assistants
                    status: uploaded
                    status_details: string
                first_id: file-abc123
                last_id: file-abc456
                has_more: false
    post:
      tags:
        - Files
      summary: Upload a file that can be used across various endpoints.
      description: "Upload a file that can be used across various endpoints. Individual files can be up to 512 MB, and the size of all files uploaded by one organization can be up to 100 GB.\n\nThe Assistants API supports files up to 2 million tokens and of specific file types. See the [Assistants Tools guide](/docs/assistants/tools) for details.\n\nThe Fine-tuning API only supports `.jsonl` files. The input also has certain required formats for fine-tuning [chat](/docs/api-reference/fine-tuning/chat-input) or [completions](/docs/api-reference/fine-tuning/completions-input) models.\n\nThe Batch API only supports `.jsonl` files up to 200 MB in size. The input also has a specific required [format](/docs/api-reference/batch/request-input).\n\nPlease [contact us](https://help.openai.com/) if you need to increase these storage limits.\n"
      operationId: createFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - purpose
              properties:
                file:
                  type: string
                  description: "The File object (not file name) to be uploaded.\n"
                  format: binary
                purpose:
                  enum:
                    - assistants
                    - batch
                    - fine-tune
                    - vision
                    - user_data
                    - evals
                  type: string
                  description: "The intended purpose of the uploaded file. One of: - `assistants`: Used in the Assistants API - `batch`: Used in the Batch API - `fine-tune`: Used for fine-tuning - `vision`: Images used for vision fine-tuning - `user_data`: Flexible file type for any purpose - `evals`: Used for eval data sets\n"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFile'
              example:
                id: string
                bytes: 0
                created_at: 0
                expires_at: 0
                filename: string
                object: file
                purpose: assistants
                status: uploaded
                status_details: string
  '/files/{file_id}':
    delete:
      tags:
        - Files
      summary: Delete a file.
      description: Delete a file.
      operationId: deleteFile
      parameters:
        - name: file_id
          in: path
          description: The ID of the file to use for this request.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileResponse'
              example:
                id: string
                object: file
                deleted: true
    get:
      tags:
        - Files
      summary: Returns information about a specific file.
      description: Returns information about a specific file.
      operationId: retrieveFile
      parameters:
        - name: file_id
          in: path
          description: The ID of the file to use for this request.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFile'
              example:
                id: string
                bytes: 0
                created_at: 0
                expires_at: 0
                filename: string
                object: file
                purpose: assistants
                status: uploaded
                status_details: string
  '/files/{file_id}/content':
    get:
      tags:
        - Files
      summary: Returns the contents of the specified file.
      description: Returns the contents of the specified file.
      operationId: downloadFile
      parameters:
        - name: file_id
          in: path
          description: The ID of the file to use for this request.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
              example: string
  '/fine_tuning/checkpoints/{fine_tuned_model_checkpoint}/permissions':
    get:
      tags:
        - Fine-tuning
      summary: List fine-tuning checkpoint permissions.
      description: "**NOTE:** This endpoint requires an [admin API key](../admin-api-keys).\n\nOrganization owners can use this endpoint to view all permissions for a fine-tuned model checkpoint.\n"
      operationId: listFineTuningCheckpointPermissions
      parameters:
        - name: fine_tuned_model_checkpoint
          in: path
          description: "The ID of the fine-tuned model checkpoint to get permissions for.\n"
          required: true
          schema:
            type: string
            example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
        - name: project_id
          in: query
          description: The ID of the project to get permissions for.
          schema:
            type: string
        - name: after
          in: query
          description: "Identifier for the last permission ID from the previous pagination\nrequest."
          schema:
            type: string
        - name: limit
          in: query
          description: Number of permissions to retrieve.
          schema:
            type: integer
            default: 10
        - name: order
          in: query
          description: The order in which to retrieve permissions.
          schema:
            enum:
              - ascending
              - descending
            type: string
            default: descending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningCheckpointPermissionResponse'
              example:
                data:
                  - id: string
                    created_at: 0
                    project_id: string
                    object: checkpoint.permission
                object: list
                first_id: string
                last_id: string
                has_more: true
    post:
      tags:
        - Fine-tuning
      summary: Create fine-tuning checkpoint permission.
      description: "**NOTE:** Calling this endpoint requires an [admin API key](../admin-api-keys).\n\nThis enables organization owners to share fine-tuned models with other projects in their organization.\n"
      operationId: createFineTuningCheckpointPermission
      parameters:
        - name: fine_tuned_model_checkpoint
          in: path
          description: "The ID of the fine-tuned model checkpoint to create a permission for.\n"
          required: true
          schema:
            type: string
            example: ft:gpt-4o-mini-2024-07-18:org:weather:B7R9VjQd
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFineTuningCheckpointPermissionRequest'
            example:
              project_ids:
                - string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningCheckpointPermissionResponse'
              example:
                data:
                  - id: string
                    created_at: 0
                    project_id: string
                    object: checkpoint.permission
                object: list
                first_id: string
                last_id: string
                has_more: true
  '/fine_tuning/checkpoints/{fine_tuned_model_checkpoint}/permissions/{permission_id}':
    delete:
      tags:
        - Fine-tuning
      summary: Delete fine-tuning checkpoint permission.
      description: "**NOTE:** This endpoint requires an [admin API key](../admin-api-keys).\n\nOrganization owners can use this endpoint to delete a permission for a fine-tuned model checkpoint.\n"
      operationId: deleteFineTuningCheckpointPermission
      parameters:
        - name: fine_tuned_model_checkpoint
          in: path
          description: "The ID of the fine-tuned model checkpoint to delete a permission for.\n"
          required: true
          schema:
            type: string
            example: ft:gpt-4o-mini-2024-07-18:org:weather:B7R9VjQd
        - name: permission_id
          in: path
          description: "The ID of the fine-tuned model checkpoint permission to delete.\n"
          required: true
          schema:
            type: string
            example: cp_zc4Q7MP6XxulcVzj4MZdwsAB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFineTuningCheckpointPermissionResponse'
              example:
                id: string
                object: checkpoint.permission
                deleted: true
  /fine_tuning/jobs:
    post:
      tags:
        - Fine-tuning
      summary: Creates a fine-tuning job which begins the process of creating a new model from a given dataset.
      description: "Creates a fine-tuning job which begins the process of creating a new model from a given dataset.\n\nResponse includes details of the enqueued job including job status and the name of the fine-tuned models once complete.\n\n[Learn more about fine-tuning](/docs/guides/fine-tuning)\n"
      operationId: createFineTuningJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFineTuningJobRequest'
            example:
              model: gpt-4o-mini
              training_file: file-abc123
              hyperparameters:
                batch_size: auto
                learning_rate_multiplier: auto
                n_epochs: auto
              suffix: 
              validation_file: file-abc123
              integrations:
                - type: { }
                  wandb:
                    project: my-wandb-project
                    name: string
                    entity: string
                    tags:
                      - custom-tag
              seed: 42
              method:
                type: supervised
                supervised:
                  hyperparameters:
                    batch_size: auto
                    learning_rate_multiplier: auto
                    n_epochs: auto
                dpo:
                  hyperparameters:
                    beta: auto
                    batch_size: auto
                    learning_rate_multiplier: auto
                    n_epochs: auto
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
              example:
                id: string
                created_at: 0
                error:
                  code: string
                  message: string
                  param: string
                fine_tuned_model: string
                finished_at: 0
                hyperparameters:
                  batch_size: auto
                  learning_rate_multiplier: auto
                  n_epochs: auto
                model: string
                object: fine_tuning.job
                organization_id: string
                result_files:
                  - file-abc123
                status: validating_files
                trained_tokens: 0
                training_file: string
                validation_file: string
                integrations:
                  - type: wandb
                    wandb:
                      project: my-wandb-project
                      name: string
                      entity: string
                      tags:
                        - custom-tag
                seed: 0
                estimated_finish: 0
                method:
                  type: supervised
                  supervised:
                    hyperparameters:
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                  dpo:
                    hyperparameters:
                      beta: auto
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                metadata: { }
    get:
      tags:
        - Fine-tuning
      summary: List your organization's fine-tuning jobs
      description: "List your organization's fine-tuning jobs\n"
      operationId: listPaginatedFineTuningJobs
      parameters:
        - name: after
          in: query
          description: Identifier for the last job from the previous pagination request.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of fine-tuning jobs to retrieve.
          schema:
            type: integer
            default: 20
        - name: metadata
          in: query
          description: "Optional metadata filter. To filter, use the syntax `metadata[k]=v`. Alternatively, set `metadata=null` to indicate no metadata.\n"
          schema:
            type: object
            additionalProperties:
              type: string
            nullable: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaginatedFineTuningJobsResponse'
              example:
                data:
                  - id: string
                    created_at: 0
                    error:
                      code: string
                      message: string
                      param: string
                    fine_tuned_model: string
                    finished_at: 0
                    hyperparameters:
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                    model: string
                    object: fine_tuning.job
                    organization_id: string
                    result_files:
                      - file-abc123
                    status: validating_files
                    trained_tokens: 0
                    training_file: string
                    validation_file: string
                    integrations:
                      - type: wandb
                        wandb:
                          project: my-wandb-project
                          name: string
                          entity: string
                          tags:
                            - custom-tag
                    seed: 0
                    estimated_finish: 0
                    method:
                      type: supervised
                      supervised:
                        hyperparameters:
                          batch_size: auto
                          learning_rate_multiplier: auto
                          n_epochs: auto
                      dpo:
                        hyperparameters:
                          beta: auto
                          batch_size: auto
                          learning_rate_multiplier: auto
                          n_epochs: auto
                    metadata: { }
                has_more: true
                object: list
  '/fine_tuning/jobs/{fine_tuning_job_id}':
    get:
      tags:
        - Fine-tuning
      summary: Get info about a fine-tuning job.
      description: "Get info about a fine-tuning job.\n\n[Learn more about fine-tuning](/docs/guides/fine-tuning)\n"
      operationId: retrieveFineTuningJob
      parameters:
        - name: fine_tuning_job_id
          in: path
          description: "The ID of the fine-tuning job.\n"
          required: true
          schema:
            type: string
            example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
              example:
                id: string
                created_at: 0
                error:
                  code: string
                  message: string
                  param: string
                fine_tuned_model: string
                finished_at: 0
                hyperparameters:
                  batch_size: auto
                  learning_rate_multiplier: auto
                  n_epochs: auto
                model: string
                object: fine_tuning.job
                organization_id: string
                result_files:
                  - file-abc123
                status: validating_files
                trained_tokens: 0
                training_file: string
                validation_file: string
                integrations:
                  - type: wandb
                    wandb:
                      project: my-wandb-project
                      name: string
                      entity: string
                      tags:
                        - custom-tag
                seed: 0
                estimated_finish: 0
                method:
                  type: supervised
                  supervised:
                    hyperparameters:
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                  dpo:
                    hyperparameters:
                      beta: auto
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                metadata: { }
  '/fine_tuning/jobs/{fine_tuning_job_id}/cancel':
    post:
      tags:
        - Fine-tuning
      summary: Immediately cancel a fine-tune job.
      description: "Immediately cancel a fine-tune job.\n"
      operationId: cancelFineTuningJob
      parameters:
        - name: fine_tuning_job_id
          in: path
          description: "The ID of the fine-tuning job to cancel.\n"
          required: true
          schema:
            type: string
            example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
              example:
                id: string
                created_at: 0
                error:
                  code: string
                  message: string
                  param: string
                fine_tuned_model: string
                finished_at: 0
                hyperparameters:
                  batch_size: auto
                  learning_rate_multiplier: auto
                  n_epochs: auto
                model: string
                object: fine_tuning.job
                organization_id: string
                result_files:
                  - file-abc123
                status: validating_files
                trained_tokens: 0
                training_file: string
                validation_file: string
                integrations:
                  - type: wandb
                    wandb:
                      project: my-wandb-project
                      name: string
                      entity: string
                      tags:
                        - custom-tag
                seed: 0
                estimated_finish: 0
                method:
                  type: supervised
                  supervised:
                    hyperparameters:
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                  dpo:
                    hyperparameters:
                      beta: auto
                      batch_size: auto
                      learning_rate_multiplier: auto
                      n_epochs: auto
                metadata: { }
  '/fine_tuning/jobs/{fine_tuning_job_id}/checkpoints':
    get:
      tags:
        - Fine-tuning
      summary: List checkpoints for a fine-tuning job.
      description: "List checkpoints for a fine-tuning job.\n"
      operationId: listFineTuningJobCheckpoints
      parameters:
        - name: fine_tuning_job_id
          in: path
          description: "The ID of the fine-tuning job to get checkpoints for.\n"
          required: true
          schema:
            type: string
            example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
        - name: after
          in: query
          description: "Identifier for the last checkpoint ID from the previous pagination\nrequest."
          schema:
            type: string
        - name: limit
          in: query
          description: Number of checkpoints to retrieve.
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningJobCheckpointsResponse'
              example:
                data:
                  - id: string
                    created_at: 0
                    fine_tuned_model_checkpoint: string
                    step_number: 0
                    metrics:
                      step: 0
                      train_loss: 0
                      train_mean_token_accuracy: 0
                      valid_loss: 0
                      valid_mean_token_accuracy: 0
                      full_valid_loss: 0
                      full_valid_mean_token_accuracy: 0
                    fine_tuning_job_id: string
                    object: fine_tuning.job.checkpoint
                object: list
                first_id: string
                last_id: string
                has_more: true
  '/fine_tuning/jobs/{fine_tuning_job_id}/events':
    get:
      tags:
        - Fine-tuning
      summary: Get status updates for a fine-tuning job.
      description: "Get status updates for a fine-tuning job.\n"
      operationId: listFineTuningEvents
      parameters:
        - name: fine_tuning_job_id
          in: path
          description: "The ID of the fine-tuning job to get events for.\n"
          required: true
          schema:
            type: string
            example: ft-AF1WoRqd3aJAHsqc9NY7iL8F
        - name: after
          in: query
          description: Identifier for the last event from the previous pagination request.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of events to retrieve.
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningJobEventsResponse'
              example:
                data:
                  - object: fine_tuning.job.event
                    id: string
                    created_at: 0
                    level: info
                    message: string
                    type: message
                    data: { }
                object: list
                has_more: true
  /images/edits:
    post:
      tags:
        - Images
      summary: "Creates an edited or extended image given one or more source images and\na prompt."
      description: "Creates an edited or extended image given one or more source images and\na prompt. This endpoint only supports `gpt-image-1` and `dall-e-2`."
      operationId: createImageEdit
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - image
                - prompt
              properties:
                image:
                  type: string
                  description: "The image(s) to edit. Must be a supported image file or an array of images.\n\nFor `gpt-image-1`, each image should be a `png`, `webp`, or `jpg` file less\nthan 25MB. You can provide up to 16 images.\n\nFor `dall-e-2`, you can only provide one image, and it should be a square\n`png` file less than 4MB.\n"
                prompt:
                  type: string
                  description: "A text description of the desired image(s). The maximum length is\n1000 characters for `dall-e-2`, and 32000 characters for\n`gpt-image-1`."
                mask:
                  type: string
                  description: "An additional image whose fully transparent areas (e.g. where alpha\nis zero) indicate where `image` should be edited. If there are\nmultiple images provided, the mask will be applied on the first\nimage. Must be a valid PNG file, less than 4MB, and have the same\ndimensions as `image`."
                  format: binary
                model:
                  type: string
                  description: "The model to use for image generation. Only `dall-e-2` and\n`gpt-image-1` are supported. Defaults to `dall-e-2` unless a\nparameter specific to `gpt-image-1` is used."
                  default: ''
                n:
                  type: integer
                  description: The number of images to generate. Must be between 1 and 10.
                  default: 1
                size:
                  enum:
                    - 256x256
                    - 512x512
                    - 1024x1024
                    - 1536x1024
                    - 1024x1536
                    - auto
                  type: string
                  description: "The size of the generated images. Must be one of `1024x1024`,\n`1536x1024` (landscape), `1024x1536` (portrait), or `auto` (default\nvalue) for `gpt-image-1`, and one of `256x256`, `512x512`, or\n`1024x1024` for `dall-e-2`."
                  default: 1024x1024
                response_format:
                  enum:
                    - url
[...]
