body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  background-image: linear-gradient(-70deg, #0976D5, #9E3DB0, #6F3F95, #2C4470);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.footer {
  height: 50px; /* Adjust the height as needed */
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.topnav {
  background-color: white;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0
}

.topnav .logo {
  float: left;
  padding: 25px;
}

.topnav .menu {
  float: right;
  padding: 25px;
}

img {
  max-height: 30px;
  width: auto;
  object-fit:contain;
  background-color: white;
  vertical-align:middle
}

img:hover {
  background-color: #ddd;
  color: black;
}

.heading {
  font-size: 80px;
}

.heading2 {
  font-size: 40px;
  font-weight: bold;
}

.heading, .heading2 {
  color: white;
  opacity: 90%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}
