# Terraform
.terraform

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Build output
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.obj
*.lib

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# .NET
*.publishsettings
publish/

# User-specific files
*.rsuser
*.suo
*.user
*.opendb
*.db
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
nunit-*.xml

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Azure
infra/*.parameters.json

# Playwright
playwright-report/
test-results/

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE - IntelliJ / Eclipse
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
